.features
	&__wrapper
		display: grid
		grid-template-columns: repeat(3, 1fr)
		gap: 20px 30px


	&__item 
		display: flex
		align-items: center
		gap: 12px

		&-icon 
			display: flex
			align-items: center
			justify-content: center
			width: 60px
			height: 60px
			flex-shrink: 0

			background: $active
			border-radius: 50%

			svg, img
				max-width: 70%
				max-height: 60%

		&-text 
			font-weight: 500
			+adap('font-size', 20, 16)
			line-height: 1.4
			letter-spacing: 0.02em
			color: $text_dark

			@media (max-width: 575px)
				line-height: 1.5
				letter-spacing: 0.03em


	@media (max-width: 991px)
		@media (min-width: 768px)
			&__wrapper
				gap: 16px

			&__item 
				&-icon 
					width: 48px
					height: 48px

				&-text 
					font-size: 15px

	@media (max-width: 767px)
		&__wrapper
			grid-template-columns: 100% 
