$active: #2154b2
$red: #cc0a0a
$gray: #DFE4EC

$text: rgba(0, 0, 0, 0.54)
$text_dark: rgba(0, 0, 0, 0.87)

$bg: #1D2428
$border-radius: 10px

$minWidth: 375 
$maxWidth: 1920
$containerWidth: 1170
$container: #{$containerWidth+px}
$firstBreakpoint: 1199
$section_gap: 50
$burgerMedia: 991

$font: 'Inter'
 